# Application Configuration
SITE_IMAGE=ghcr.io/dilan/nasa-frontend:1.0
BACKEND_IMAGE=ghcr.io/dilan/nasa-backend:1.0

# Docker Registry Authentication
GHCR_USERNAME=dilan
GHCR_TOKEN=ghp_******

# Backend
BACKEND_PORT=4200
VERSION=1.0.0
DEMO_KEY=TOtI************ZDMTmho