# Application Configuration
SITE_IMAGE=ghcr.io/markscooterrepair/kukirin-site:1.0
BACKEND_IMAGE=ghcr.io/markscooterrepair/kukirin-backend:1.0

# Docker Registry Authentication
GHCR_USERNAME=dilan
GHCR_TOKEN=ghp_******

# Database Configuration
POSTGRES_DB=kukirin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=DBpasswordPostgres_*****
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=4100
VERSION=1.0.0
DATABASE_URL=postgresql://web:DBpasswordWeb_Kukirin*******@postgres:5432/kukirin
JWT_SECRET=KukirinJWT_Secret_Backend____********
MAILGUN_API_KEY=e74590e779ea117f5bd79b870bb1f929-*****
MAILGUN_DOMAIN=mail.gift.irish
PASSWORD_RESET_URL_TEMPLATE=https://kukirin.gift.irish/my/password-reset#[token]